<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="39745AndreasJakl.NdefDemo" Publisher="CN=Andreas Jakl" Version="1.4.14.0" />
  <mp:PhoneIdentity PhoneProductId="a1868adc-3878-4241-88fb-b22d98620490" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>NdefDemo</DisplayName>
    <PublisherDisplayName>Andreas Jakl</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="NdefDemoWin10.App">
      <uap:VisualElements DisplayName="NFC / NDEF Demo" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Demonstrates reading and writing NDEF formatted tags using the NDEF Library for Proximity APIs (NFC). More information at https://andijakl.github.io/ndef-nfc/" BackgroundColor="#0080c8">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="NFC Demo" Square71x71Logo="Assets\Square71x71Logo.png" Square310x310Logo="Assets\Square310x310Logo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#0080c8" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="proximity" />
  </Capabilities>
</Package>