<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="8de0e30d-516a-4ae8-97c3-753136523621" Publisher="CN=Andreas" Version="1.0.0.0" />
  <Properties>
    <DisplayName>NdefDemoWin</DisplayName>
    <PublisherDisplayName>Andreas Jakl</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="NdefDemoWin" Executable="$targetnametoken$.exe" EntryPoint="NdefDemoWin.App">
      <m2:VisualElements DisplayName="NFC / NDEF Demo" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="Demonstrates reading and writing NDEF formatted tags using the NDEF Library for Proximity APIs (NFC). More information at http://andijakl.github.io/ndef-nfc/" ForegroundText="light" BackgroundColor="#0080c8">
        <m2:DefaultTile ShortName="NDEF Demo" DefaultSize="square150x150Logo" Wide310x150Logo="Assets\Wide310x150Logo.png" Square70x70Logo="Assets\Square70x70Logo.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <DeviceCapability Name="proximity" />
  </Capabilities>
</Package>